@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #253659;

}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    background-color: #03A696;
    align-items: center;

}

nav{
    width: 60%;
    background-color: #03A696;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #03A696;
}

li{
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    background-color: #03A696;
    font-family:'Kdam+Thmor+Pro', sans-serif  ;
}

li:hover{
    color: #F27457;
}

#logo{
    width: 80px;
    height: auto;
    border-radius: 50px;
}

#cine{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
    
        
}

.myvideo{ 
    
    margin: 40px 0;
    border-radius: 10px;
    
    border: 10px solid #F27457;;
}

footer{
    height: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

span{
    color: #fff;
    font-family:'Kdam+Thmor+Pro', sans-serif;
}

button{
    width: 100%;
    text-align: center;
}

.footer-navigation{
    display: none;
}

.footer-list{

  display: flex;
  flex-direction: column;
  align-items: center;  
}

@media(max-width:768px){
    .footer-navigation{
        display:block;
    }

    nav{
        display: none;
    }

    body{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    #cine{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .myvideo{
        width: 100%;
    }
}